[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone
[submodule "bullet3"]
	path = bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "Detours"]
	path = Detours
	url = https://github.com/microsoft/Detours
[submodule "glew-cmake"]
	path = glew-cmake
	url = https://github.com/Perlmint/glew-cmake
