[submodule "thirdparty/glew_fork"]
	path = thirdparty/glew_fork
	url = https://github.com/hzqst/glew-cmake
[submodule "thirdparty/ScopeExit"]
	path = thirdparty/ScopeExit
	url = https://github.com/SergiusTheBest/ScopeExit
[submodule "thirdparty/FreeImage_clone"]
	path = thirdparty/FreeImage_clone
	url = https://github.com/hzqst/FreeImage_clone
[submodule "PluginLibs/UtilAssetsIntegrity"]
	path = PluginLibs/UtilAssetsIntegrity
	url = https://github.com/MetaHookSv/UtilAssetsIntegrity
[submodule "PluginLibs/UtilHTTPClient_SteamAPI"]
	path = PluginLibs/UtilHTTPClient_SteamAPI
	url = https://github.com/MetaHookSv/UtilHTTPClient_SteamAPI
[submodule "PluginLibs/UtilHTTPClient_libcurl"]
	path = PluginLibs/UtilHTTPClient_libcurl
	url = https://github.com/MetaHookSv/UtilHTTPClient_libcurl
[submodule "PluginLibs/UtilThreadTask"]
	path = PluginLibs/UtilThreadTask
	url = https://github.com/MetaHookSv/UtilThreadTask
[submodule "Plugins/BulletPhysics"]
	path = Plugins/BulletPhysics
	url = https://github.com/MetaHookSv/BulletPhysics
[submodule "Plugins/CaptionMod"]
	path = Plugins/CaptionMod
	url = https://github.com/MetaHookSv/CaptionMod
[submodule "Plugins/HeapPatch"]
	path = Plugins/HeapPatch
	url = https://github.com/MetaHookSv/HeapPatch
[submodule "Plugins/PrecacheManager"]
	path = Plugins/PrecacheManager
	url = https://github.com/MetaHookSv/PrecacheManager
[submodule "Plugins/Renderer"]
	path = Plugins/Renderer
	url = https://github.com/MetaHookSv/Renderer
[submodule "Plugins/ResourceReplacer"]
	path = Plugins/ResourceReplacer
	url = https://github.com/MetaHookSv/ResourceReplacer
[submodule "Plugins/SCCameraFix"]
	path = Plugins/SCCameraFix
	url = https://github.com/MetaHookSv/SCCameraFix
[submodule "Plugins/SCModelDownloader"]
	path = Plugins/SCModelDownloader
	url = https://github.com/MetaHookSv/SCModelDownloader
[submodule "Plugins/SteamScreenshots"]
	path = Plugins/SteamScreenshots
	url = https://github.com/MetaHookSv/SteamScreenshots
[submodule "Plugins/StudioEvents"]
	path = Plugins/StudioEvents
	url = https://github.com/MetaHookSv/StudioEvents
[submodule "Plugins/ThreadGuard"]
	path = Plugins/ThreadGuard
	url = https://github.com/MetaHookSv/ThreadGuard
[submodule "Plugins/VGUI2Extension"]
	path = Plugins/VGUI2Extension
	url = https://github.com/MetaHookSv/VGUI2Extension
[submodule "MetaHook"]
	path = MetaHook
	url = https://github.com/MetaHookSv/MetaHook
[submodule "toolsrc/SteamAppsLocation"]
	path = toolsrc/SteamAppsLocation
	url = https://github.com/MetaHookSv/SteamAppsLocation
[submodule "toolsrc/BSPLocalizationTools"]
	path = toolsrc/BSPLocalizationTools
	url = https://github.com/MetaHookSv/BSPLocalizationTools
[submodule "toolsrc/MetahookInstaller"]
	path = toolsrc/MetahookInstaller
	url = https://github.com/MetaHookSv/MetahookInstaller
[submodule "thirdparty/SteamSDK"]
	path = thirdparty/SteamSDK
	url = https://github.com/MetaHookSv/SteamSDK
