# Build outputs
output/
Debug/
Release/
Release_AVX2/
intermediate/
Build/svencoop/metahook/dlls/
Build/svencoop/metahook/plugins/
Build/MetaHook.exe
Build/MetaHook_blob.exe
Build/SDL2.dll
Build/SDL3.dll

toolsrc/MetahookInstaller/bin/
toolsrc/MetahookInstaller/obj/

.vs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

*.vcxproj.user
